:root{
    --dark-color:hsl(252 , 30% , 17%);
    --color-white:hsl (252, 30%, 100%); 
    --color-light: hs1(252, 30%, 95%); 
    color-gray:  hsl (252, 15%, 65%); 
    -color-primary: hs1(252, 75%, 60%); 
    --color-secondary: hs1(252, 100%, 90%); 
    -color-success: 
    hsl(120, 95%, 65%); 
    color-danger: 
    hsl(0, 95%, 65%); 
    --color-dark:hsl (252, 30%, 17%); 
    --color-black: hs1(252, 30%, 10%);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
}
body{
    font-family: "Poppins", serif;
    color: var(--dark-color);
    background-color: ;
}